<link rel="stylesheet" href="css/add-expense.css">
<link rel="stylesheet" href="css/trip-bar.css">

<div id="container">

    <div id="header">
        <%- include("navbar.ejs")%>
        <%- include("trip-bar.ejs")%>
    </div>

    <form id="form" action="/valid-expense" method="post">
        <div id="body">
            <h1 id="addExpense"> Add Expense </h1>

            <div class="expense-name">
                <div class="title">Expense Name </div>
                <input id="expense-name" type="text" placeholder="" name="name">
            </div>
            
            <div class="expense-amount">
                <div class="title">Expense Amount </div>
                <input id="expense-amount" type="number" placeholder="" name="amount" step="0.01" min="0">
            </div>

            <div class="expense-date">
                <div class="title">Date </div>
                <input id="expense-date" type="date" name="date">
            </div>

            <div class="categoryField">
                <fieldset>
                    <div class="categorytitle">Category </div>
                    <div class="category_choices">
                        <% for(i=0; i<categories.length; i++){ %>
                        <div id="category">
                            <input type="radio" id="category" name="category" value="<%=categories[i]%>"/>
                            <label class="cat-lab" for="<%=categories[i]%>"><%=categories[i]%></label>
                        </div>
                        <%}%>
                    </div>
                </fieldset>
            </div>
        
            <div id="comment-field" class="field" name="comment">
                <textarea id="comment" placeholder="Add a comment about this expense"></textarea>
            </div>

            <div class="validate" id="validate">
                <button type="submit" id="validate-btn" class="btn default">Add</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="js/add-expense.js"></script>
