<link rel="stylesheet" href="css/debt-everyone.css">
<link rel="stylesheet" href="css/debt-admin.css">
<link rel="stylesheet" href="css/trip-bar.css">

<div id="container">
    <div id="header">
        <%- include("navbar.ejs")%>
        <%- include("trip-bar.ejs")%>
    </div>

    <div id="body">
        <h1 id="Debt">Balance</h1>

        <div class="profile"> 
            <div class="current-user"> <img class="img" src="media/<%=icon%>"> </div>
        </div>       

        <div class="pay"> 
            <% if (pay.length != 0){%>
                <h2 id="pay">To pay -</h2>
            <%}%>
            <% for (i=0; i<pay.length; i++){ %>
                <div class="debtBox"> 
                    <div class="category"><img class="img_cat" src="media/<%=pay[i][0]%>"></div>
                    <div class="amount-pos"><%=pay[i][1]%> $</div> 
                    <div class="exp-name"><%=pay[i][4]%></div> 
                    <div class="date"> due since <%=pay[i][2]%> </div>
                    <div class="person"><img class="img" src="media/<%=pay[i][3]%>"></div>
                    <button type="button" id="payed" class="btn btn-outline-secondary" onclick="remove('<%=i%>')">Done</button>
                </div>
            <%}%>
        </div>
        <div class="get-back">
            <% if (get_back.length != 0){%>
                <h2 id="get-back">To get back -</h2>
            <%}%>
            <% for (i=0; i<get_back.length; i++){%>
                <div class="debtBox"> 
                    <div class="category"><img class="img_cat" src="media/<%=get_back[i][0]%>"></div>
                    <div class="amount-neg"><%=get_back[i][1]%> $</div> 
                    <div class="exp-name"><%=get_back[i][4]%></div> 
                    <div class="date"> due since <%=get_back[i][2]%> </div>
                    <div class="person"><img class="img" src="media/<%=get_back[i][3]%>"></div>
                </div>
            <%}%>
        </div>
    </div>

    <div id="footer">
        <div class="users">
            <%for (i=0; i<people.length; i++){%>
                <form id="form" class="other-user" method="post">
                    <button type="button" class="btn btn-light" onclick="who('<%=people[i]%>')">
                        <img class="img" id="<%=people[i]%>" src="media/<%=people[i]%>">
                    </button>
                </form>
            <%}%>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="js/debt_admin.js"></script>