<link rel="stylesheet" href="css/friends.css">
<link rel="stylesheet" href="css/trip-bar.css">


<div id="container">

    <div id="header">
        <%- include("navbar.ejs")%>
        <%- include("trip-bar.ejs")%>
    </div>

    <div id="body">
        <h1 id="tripFriend">Trip Friends</h1>

        <div class="friends">
            <% for (i=0; i<rolelist.length; i++){%>
                <div class="friendBox"> 
                    <div class="picture"> <img class="img" src="media/<%=picturelist[i]%>"> </div> <!-- change for every users to have their picture-->
                    <div class="name"><%=namelist[i]%> </div> 
                    <div class="role"><%=rolelist[i]%> </div>
                </div>
            <%}%>
        </div>
    </div>
</div>