<link rel="stylesheet" href="css/fst-style.css">

<div id="header">
    <h1 id="title">ExpenShare</h1>
    <div id="usrprofile">
        <div id="usrinfo"> <%= user[0] %> </div>
        <form action="/profile" method="post">
            <button type="submit" class="nav-link" style="border: none; background: none; cursor: pointer;">
                <div id="usricon">
                    <img id="usrimg" src="media/<%=user[2]%>">
                </div>
            </button>
          </form>
    </div>
</div>

<div id="body">
    <%for(var i=0; i<trip.length; i++){%>
        <div class="travel">
            <form action="/specific-travel" method="post">
                <button class="travel-btn" type="submit">
                    <div class="trip" id="trip<%i%>">
                        <input type="hidden" name="travelname" value="<%= trip[i][0] %>">
                        <div id="name"> <%=trip[i][0]%> </div>
                        <div id="group">
                            <%for(var j=0; j<trip[i][2].length; j++){%>
                                <div class="usr">
                                    <img class="usrtinyicon" src="media/<%=images[i][j]%>">
                                </div>
                            <%}%>
                        </div>
                    </div>
                </button>
            </form>
        </div>
    <%}%>
</div>

<div id="footer">
    <form id="form" action="/new-trip" method="post">
        <button id="new-trip-btn" type="submit"><img class="plus" src="media/plus.png"></button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="js/fst-view.js"></script>