<link rel="stylesheet" href="css/profile.css">

<div id="container">
    <div id="header">
        <!-- this shall contain the app name, and the user profile overview -->
        <div class="my-profile">
            <form id="back-form" action="/logged" method="post">
                <button id="back-btn" type="submit"><</button>
            </form>
            <div id="title">My Profile</div>
        </div>
    </div>

    <div id="body">
        
        <div class="profile"> 
            <div class="name"><%=user%></div>
            <div class="current-user"> <img class="img" src="media/<%=icon%>"> </div>
        </div>  

        <% for (i=0; i<trips.length; i++){ %>
            <div class="trip-list"> 
                <h2 id="destination"><%=trips[i]%> -</h2>
                <%for (j=0; j<expenses.length; j++){%>
                    <% if (expenses[j][0] == trips[i]){%>
                        <%for (k=1; k<expenses[j].length-1; k++){%>
                            <div class="expenseBox"> 
                                <div class="category" style="background-color: <%=expenses[j][expenses[j].length-1]%>;"><img class="img" src="media/<%=expenses[j][k][0]%>"></div>
                                <div class="amount"><%=expenses[j][k][1]%>$ </div> 
                            </div>
                        <%}%>
                    <%}%>
                <%}%>
        <%}%> 
    </div>
</div>
