<link rel="stylesheet" href="css/specific-category.css">
<link rel="stylesheet" href="css/trip-bar.css">

<div id="header">
    <%- include("navbar.ejs") %>
    <%- include("trip-bar.ejs") %>
</div>
<div id="body" class="container" data-expenses="<%=JSON.stringify(expenses)%>"> <!-- must add data with JSON.stringify(...) -->
    <div id="category-label" class="label"> <%= category %></div>
    <div id="chart-field">
        <canvas id="category-chart" aria-label="chart" role="img"></canvas>
    </div>
    <div id="users-field" align="center">
        <%for(var i=0; i<expenses.length; i++){%>
            <div class="usr-box">
                <div class="usr-infos">
                    <div class="slot">
                        <img class="usr-icon" src="media/<%=expenses[i][2]%>">
                    </div>
                    <div class="usr-name"><%=expenses[i][0]%></div>
                </div>
                <div class="usr-amount"><%=expenses[i][1]%></div>
            </div>
        <%}%>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="js/category.js"></script>